[run]
source = orchestrator
branch = True
omit =
    orchestrator/migrations/*

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    @abstractmethod
    @overload
    raise NotImplementedError
    \.\.\.
