site_name: The Orchestrator Core
site_description: An extensible workflow engine to manage customer facing resources and resource facing resources.
site_url: https://workfloworchestrator.org/orchestrator-core
theme:
  name: material
  palette:
  - scheme: default
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode
  - scheme: slate
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  features:
  - search.suggest
  - search.highlight
  - navigation.sections
  - navigation.tracking
  - navigation.instant
  - navigation.indexes
  - content.code.copy
  - content.code.annotate
plugins:
  - search
  - render_swagger
  - include-markdown
copyright: Copyright Workfloworchestrator; 2020-2024
repo_name: workfloworchestrator/orchestrator-core
repo_url: https://github.com/workfloworchestrator/orchestrator-core
edit_uri: edit/main/docs/
markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - codehilite

extra_css:
  - 'css/termynal.css'
  - 'css/custom.css'
extra_javascript:
  - 'js/termynal.js'
  - 'js/custom.js'

nav:
  - Orchestrator Core: index.md
  - Getting Started:
    - Base Application: getting-started/base.md
    - Development setup: getting-started/development.md
    - Preparing source folder: getting-started/prepare-source-folder.md
  - Architecture:
    - Architecture; TLDR: architecture/tldr.md
    - Orchestration Philosophy: architecture/orchestration/philosophy.md
    - Product modelling:
      - Introduction: architecture/product_modelling/introduction.md
      - Standards: architecture/product_modelling/standards.md
      - Modelling: architecture/product_modelling/modelling.md
      - Context: architecture/product_modelling/context.md
      - Terminology: architecture/product_modelling/terminology.md
      - Example Product Models:
        - Node: architecture/product_modelling/node.md
        - Port: architecture/product_modelling/port.md
        - L2 Point-to-Point: architecture/product_modelling/l2_point_to_point.md
        - L2 VPN: architecture/product_modelling/l2_vpn.md
        - IP Static: architecture/product_modelling/ip_static.md
      - Product Block Graph: architecture/product_modelling/product_block_graph.md
    - Internals:
      - How do Workflows work?: architecture/application/workflow.md
      - What are tasks?: architecture/application/tasks.md
      - Validating input through forms: architecture/application/forms.md
      - Domain Models: architecture/application/domainmodels.md
    - Documentation:
      - Command Line Interface: architecture/application/cli.md
      - Web sockets: architecture/application/websockets.md
      - Api Docs: architecture/application/api.md
      - Scaling: architecture/application/scaling.md
      - Python version: architecture/application/python.md
      - GraphQL: architecture/application/graphql.md
  - Workshops:
    - Beginner:
      - Overview: workshops/beginner/overview.md
      - Installation:
        - Manual:
          - Debian: workshops/beginner/debian.md
          - MacOS: workshops/beginner/macos.md
        - Docker compose: workshops/beginner/docker.md
      - Start applications: workshops/beginner/start-applications.md
      - Products:
        - Scenario: workshops/beginner/scenario.md
        - Domain models: workshops/beginner/domain-models.md
        - Database migration: workshops/beginner/database-migration.md
      - Workflows:
        - Introduction: workshops/beginner/workflow-introduction.md
        - Register workflows: workshops/beginner/register-workflows.md
        - Input forms: workshops/beginner/input-forms.md
        - Create UserGroup: workshops/beginner/create-user-group.md
        - Modify UserGroup: workshops/beginner/modify-user-group.md
        - Terminate UserGroup: workshops/beginner/terminate-user-group.md
        - Create User: workshops/beginner/create-user.md
        - Modify User: workshops/beginner/modify-user.md
        - Terminate User: workshops/beginner/terminate-user.md
      - Explore: workshops/beginner/explore.md
    - Advanced:
      - Overview: workshops/advanced/overview.md
      - Installation: workshops/advanced/docker-installation.md
      - Products:
        - Scenario: workshops/advanced/scenario.md
        - Domain models: workshops/advanced/domain-models.md
        - Database migration: workshops/advanced/database-migration.md
      - Workflows:
        - Introduction: workshops/advanced/workflow-introduction.md
        - Create Node: workshops/advanced/node-workflow.md
        - Create Circuit: workshops/advanced/circuit-workflow.md
    - Migration guide:
        - 2.0: migration-guide/2.0.md
  - Contributing:
    - Guidelines: contributing/guidelines.md
    - Testing: contributing/testing.md
