[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "orchestrator"
dist-name = "orchestrator-core"
author = "SURF"
author-email = "automation-beheer@surf.nl"
home-page = "https://github.com/workfloworchestrator/orchestrator-core"
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Development Status :: 3 - Alpha",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Intended Audience :: Telecommunications Industry",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.8",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Internet :: WWW/HTTP",
]
requires = [
    "aiocache==0.11.1",
    "aioredis==1.3.1",
    "alembic~=1.5.4",
    "click~=7.1",
    "colorama~=0.4.4",
    "deepmerge~=0.1.0",
    "fastapi~=0.63.0",
    "fastapi-etag~=0.2.2",
    "gunicorn~=20.0.4",
    "httptools==0.1.1",
    "more-itertools~=8.7.0",
    "itsdangerous~=1.1.0",
    "opentelemetry-api~=0.17b0",
    "opentelemetry-exporter-jaeger~=0.17b0",
    "opentelemetry-instrumentation-fastapi~=0.17b0",
    "opentelemetry-instrumentation-psycopg2~=0.17b0",
    "opentelemetry-instrumentation-redis~=0.17b0",
    "opentelemetry-instrumentation-requests~=0.17b0",
    "opentelemetry-instrumentation-sqlalchemy~=0.17b0",
    "opentelemetry-sdk==0.17b0",
    "psycopg2-binary~=2.8.6",
    "pydantic[email]~=1.7.3",
    "pynso-restconf~=2.1.0",
    "python-rapidjson==1.0",
    "pytz",
    "regex~=2020.11.13",
    "requests~=2.25.1",
    "ruamel.yaml~=0.16.12",
    "schedule~=1.0.0",
    "sentry-sdk",
    "SQLAlchemy~=1.3.24",
    "SQLAlchemy-Searchable~=1.2.0",
    "structlog~=20.2.0",
    "typer-cli~=0.0.11",
    "uvicorn[standard]~=0.13.3",
    "nwa-stdlib~=1.2.0",
    "oauth2-lib~=1.0.4"
]
description-file = "README.md"
requires-python = ">=3.6,<3.9"

[tool.flit.metadata.urls]
Documentation = "https://workfloworchestrator.org/"

[tool.flit.metadata.requires-extra]
test = [
    "apache-license-check",
    "black",
    "blinker",
    "deepdiff",
    "flake8",
    "flake8-bandit",
    "flake8-bugbear",
    "flake8-comprehensions",
    "flake8-docstrings",
    "flake8-junit-report",
    "flake8-logging-format",
    "flake8-pep3101",
    "flake8-print",
    "flake8-rst",
    "flake8-rst-docstrings",
    "flake8-tidy-imports",
    "isort",
    "jsonref",
    "mypy",
    "pytest",
    "pytest-cov",
    "pytest-httpx==0.10.1",
    "pytest-xdist",
    "requests-mock",
    "urllib3_mock"
]
doc = [
    "pystache~=0.5.4",
    "recommonmark~=0.7.1",
    "Sphinx~=2.3.1",
    "sphinx-autobuild~=2020.9.1",
    "sphinx-rtd-theme==0.5.0",
    "sphinxcontrib-apidoc~=0.3.0",
    "sphinxcontrib-blockdiag~=2.0.0",
    "sphinxcontrib-seqdiag~=2.0.0"
]
dev = [
    "bumpversion",
    "mypy_extensions",
    "pre-commit",
    "pydocstyle==3.0.0",
    "python-dotenv",
    "watchdog"
]


[tool.isort]
profile="black"
line_length = 120
skip = ["src", "venv"]
known_third_party=["pynso"]
known_first_party=["migrations", "test"]

[tool.black]
line-length = 120
target-version = ["py38"]
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | venv
    | src
  )/
)
'''
