{% for field in constrained_ints_to_generate %}
{{ field.type }} = Annotated[
    int,
    {% if field.min_value is defined %} Ge({{ '{:_}'.format(field.min_value) }}), {% endif %}
    {% if field.max_value is defined %} Le({{ '{:_}'.format(field.max_value) }}), {% endif %}
]
{% endfor %}
