
LazyWorkflowInstance("surf.workflows.{{ product.variable }}.create_{{ product.variable }}", "create_{{ product.variable }}")
LazyWorkflowInstance("surf.workflows.{{ product.variable }}.modify_{{ product.variable }}", "modify_{{ product.variable }}")
LazyWorkflowInstance("surf.workflows.{{ product.variable }}.terminate_{{ product.variable }}", "terminate_{{ product.variable }}")
LazyWorkflowInstance("surf.workflows.{{ product.variable }}.validate_{{ product.variable }}", "validate_{{ product.variable }}")
