{% include "copyright.j2" %}
{% if python_version == "3.9" %}
from typing import Optional
{% endif -%}

from pydantic import validator

from orchestrator.types import State

from surf.utils.exceptions import FieldValueError

{% if python_version == "3.9" -%}
def validate_something(foo: Optional[str], values: State) -> str | None:
{% else %}
def validate_something(foo: str | None, values: State) -> str | None:
{% endif %}
    if foo:
        message = "TODO: implement this!"
        raise FieldValueError(message)

    return foo

{% for validation in validations %}
def {{ validation.validation.id }}_validator() -> classmethod:
    return validator("{{ validation.field.name }}", allow_reuse=True)(validate_something)

{% endfor -%}
