name: gh-pages
on:
  push:
    branches:
      - main

env:
  UV_FROZEN: true  # Run uv commands without updating the `uv.lock` file

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          # It is considered best practice to pin to a specific uv version.
          version: "0.7.13"
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        # --locked: Assert that the `uv.lock` will remain unchanged
        # --no-dev: exclude group 'dev' from [dependency-groups]
        # --group docs: include group 'dev' from [dependency-groups]
        run: uv sync --locked --no-dev --group docs

      - name: Build and publish docs
        run: uv run mkdocs gh-deploy --force

#      - uses: actions/setup-python@v2
#        with:
#          python-version: 3.x
#      - run: pip install flit
#      - run: flit install --only-deps --deps develop
#      - run: mkdocs gh-deploy --force
