name: Upload Python Package

on:
  release:
    types: [created]

env:
  UV_LOCKED: true  # Assert that the `uv.lock` will remain unchanged

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v7
      with:
        # It is considered best practice to pin to a specific uv version.
        version: "0.10.0"
        python-version: ${{ matrix.python-version }}

    - name: Build package
      run: uv build

    - name: Publish package
      run: uv publish
      env:
        UV_PUBLISH_USERNAME: ${{ secrets.FLIT_USERNAME }}
        UV_PUBLISH_PASSWORD: ${{ secrets.FLIT_PASSWORD }}

# TODO Migrate to trusted publishing with OIDC https://docs.pypi.org/trusted-publishers/
#    - name: Publish package distributions to PyPI
#      uses: pypa/gh-action-pypi-publish@release/v1
