name: Unit tests
on:
  push:
  workflow_call:

jobs:
  container_job:
    name: Unit tests Python (${{ matrix.python-version }}) Postgres (${{ matrix.postgres-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12']
        postgres-version: ['14', '15', '16']
      fail-fast: false
    container: python:${{ matrix.python-version }}-slim
    services:
      postgres:
        image: postgres:${{ matrix.postgres-version }}-alpine
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: nwa
          POSTGRES_USER: nwa
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          apt update
          apt install curl git build-essential libpq-dev libffi-dev -y
          python -m pip install --upgrade pip
          pip install flit
          flit install --deps develop --symlink
          echo "GIT_COMMIT_HASH=\"test\"" > orchestrator/version.py
        env:
          FLIT_ROOT_INSTALL: 1
      - name: Run Unit tests
        run: CACHE_URI=redis://redis DATABASE_URI=postgresql+psycopg://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST/$POSTGRES_DB  pytest --cov-branch --cov=orchestrator --cov-report=xml --ignore=test --ignore=orchestrator/devtools --ignore=examples --ignore=docs --ignore=orchestrator/vendor
        env:
          POSTGRES_DB: orchestrator-core-test
          POSTGRES_USER: nwa
          POSTGRES_PASSWORD: nwa
          POSTGRES_HOST: postgres
          ENVIRONMENT: TESTING
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}  # gives error 'Could not find a repository associated with upload token'
          fail_ci_if_error: true
          files: ./coverage.xml
