name: Generate uv.lock report

on:
  pull_request:
    paths:
      - 'uv.lock'

permissions:
  contents: read
  pull-requests: write

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: mw-root/uv-lock-report@v0.13.0
        with:
          output-format: "table"
          github-token: ${{ secrets.GITHUB_TOKEN }}
